.about {
    font-size: 20px;
    text-align: center;
    margin: 50px 0;
    font-weight: 300;
    color: #0f0341;
}

.copyright {
    font-weight: 300;
    color: white;
    text-align: center;
}

.spec {
    font-weight: 700;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

footer {
    background-color: #0f0341;
    padding: 25px;
    margin-top: 25px;
}

.bold {
    font-weight: 700;
}

.big-footer {
    margin : 100px 0;
}