.input-field input[type=text]:focus {
  border-bottom: 1px solid #e32c47 !important;
  box-shadow: none !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #e32c47 !important;
  box-shadow: none !important;
}

.btn-small {
  background-color: #2d65fb;
  border-radius: 0;
}

.btn-small:hover {
  background-color: #e32c47;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  color: #0f0341;
  line-height: 50px;
}

.grey-fluid {
  background-color: #F5F5F5;
  padding: 25px 0;
  margin: 0;
}

